<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/botperso.css" type="text/css">
    <link rel="stylesheet" href="css/now-ui-kit.css" type="text/css">
    <link rel="shortcut icon" href="./assets/logo.ico" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>OneForAll - Antiraid</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
        </button>
        <img src="assets/circle-cropped.png" width="50" height="50">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/commands">Commandes</a>
                </li <li class="nav-item">
                <a class="nav-link" href="/mybots">Mes bots</a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Documentation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/commands">Commandes</a>
                    <a class="dropdown-item" href="/tutorials">Tutoriels</a>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/about">A propos de nous</a>
            </div>

            <form class="box" action="/auth/logout" method="POST">
                <button class="btn login-btn btn-outline-accent my-2 my-sm-0"
                    style="font-size: 10px !important;font-family: poppins !important;" action="/auth/logout"
                    method="POST">LOGOUT
                </button>
            </form>

    </nav>
    <div class="heading">
        <h1 class="display-5 title">C'est le moment de protéger votre serveur.</h1>
        <p class="subtitle">OneForAll est un des seul bot à proposé un antiraid totalement configurable.<br />En plus
            notre bot excel dans l'auto-moderation, administration et autre!</p>
        <a class="btn btn-primary btn-lg" href="https://discord.gg/raa6mXBdxb" target="_blank" role="button">Notre discord</a>
        <a class="btn btn-secondary btn-lg"
            href="https://discord.com/api/oauth2/authorize?client_id=780019344511336518&permissions=8&scope=bot"
            target="_blank" role="button">Ajouter à votre serveur</a>
        <br /><br /><br /><br /><br /><br />
    </div>
    <div class="features">
        <div class="title">A propos des bots personnalisées</div>
        <div class="subtitle"> Une bot personnalisé uniquement pour vous pour seulement 4€ par mois</div>

        <div class="botperso">
            <p>
                Les bots personnalisées sont des bots spécialements customisés par vous ils sont au prix de 4€ par mois : <br><br>
                Avec ce bot vous pourez changer le <span class="featuresPerso"><strong>nom du bot</strong>, <strong>l'activité du bot</strong>, <strong>l'avatar du bot</strong>, <strong>avoir un antiraid plus performant</strong>, <strong>avoir accès au dashboard du site internet</strong>, <strong>toutes les dernières mis à jour</strong></span><br><br>
                Pour tout achat du bot veuillez nous contacter <a href=https://discord.gg/raa6mXBdxb target="_blank">ici<a/>
            <p>
        </div>
    </div>
    </div>
  
    <div class="page_end">
     
        <div class="footer">
            <div class="bot-footer">
                <!-- <img src="assets/BotLogoWord.svg" width="150"><br /> -->
                Copyright © [TakeFy, qzzz, Baby] - 2020
            </div><br />
            <!-- <div class="nouridio">design by <a href="https://twitter.com/Nouridio"> nouridio</a></div> -->
        </div>
    </div>
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/now-ui-kit.min.js"></script>
    
</body>

</html>