.botperso{
    background-color :  #1D1E28;
    border-radius : 10px;
    display: center;
    width: 70%;
    margin: 0 auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 50%;
    margin-bottom: 19%;
    max-width: 70%;
}

.featuresPerso{
    text-decoration: underline;
    font-weight: 70%;
}

.subtitle{
    top : 150%;
    display : block;
}

.botperso, p{
    color : #ffffff
}